name: CD Pipeline

on:
  push:
    branches: [ "master", "main" ]
  workflow_dispatch:

env:
  REGISTRY: docker.io
  NAMESPACE: app-demo

jobs:
  build-and-push:
    name: Build & Push (frontend + backend)
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # ---------- FRONTEND ----------
      - name: Build & Push Frontend
        uses: docker/build-push-action@v6
        with:
          context: ./client
          file: ./client/Dockerfile
          push: true
          tags: |
            docker.io/darioalef/client-ecommerce:v1.0
            docker.io/darioalef/client-ecommerce:${{ github.sha }}
          cache-from: type=gha,scope=client-ecommerce
          cache-to: type=gha,mode=max,scope=client-ecommerce

      # ---------- BACKEND ----------
      - name: Build & Push Backend
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: |
            docker.io/darioalef/backend:latest
            docker.io/darioalef/backend:v1.1
            docker.io/darioalef/backend:${{ github.sha }}
          cache-from: type=gha,scope=backend
          cache-to: type=gha,mode=max,scope=backend

  deploy:
    name: Rollout via SSH on EC2
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script_stop: true
          script: |
            set -euo pipefail
            
            echo ">> Atualizando FRONTEND"
            sudo KUBECONFIG=/etc/rancher/k3s/k3s.yaml kubectl rollout restart deployment/frontend -n app-demo
            sudo KUBECONFIG=/etc/rancher/k3s/k3s.yaml kubectl rollout status deployment/frontend -n app-demo --timeout=5m
            
            echo ">> Atualizando BACKEND"
            sudo KUBECONFIG=/etc/rancher/k3s/k3s.yaml kubectl rollout restart deployment/backend -n app-demo
            sudo KUBECONFIG=/etc/rancher/k3s/k3s.yaml kubectl rollout status deployment/backend -n app-demo --timeout=5m
            
            echo "✅ Deploy concluído!"
            
            echo ">> Status dos Pods:"
            sudo KUBECONFIG=/etc/rancher/k3s/k3s.yaml kubectl get pods -n app-demo
